
<%- include('../partials/header') %>

<main class="index-page">
    <h1 id="allRequests-header">All Requests</h1>
    <br>
    <div class="indexRequests">
            <% requests.forEach(function(r) { %>
            <div class="indexRequest">
        <section>
            <br>
            <div><img class="index-user-img" alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ></div>
            <br>
            <div><strong><%= r.userName %></strong></div>
            <div><em><%= r.requestType %></em></div>
            <% if (r.date) { %> 
            <div><%= r.date.toLocaleDateString() %> at <%= r.date.toLocaleTimeString() %></div>
        </section>
            <% } %> 
            <br>
            <div><a href="/requests/<%= r._id %>">
            <button class="viewBtns">VIEW</button></a>
        </div>
            <hr>
        </div>
      <% }); %>
    </div>
</main>

<%- include('../partials/footer') %>