
<%- include('../partials/header') %>


<h1>This is the requests index page, where I'll show all requests.</h1>

<table class="request-lists">
      <% requests.forEach(function(r) { %>
        <div><%= r.userName %></div>
        <div><%= r.requestType %></div>
        <div>Date: <%= r.date %></div>
        <div><%= r.content %></div>
        <div><a href="/requests/<%= r._id %>">VIEW</a></div>
        <br>
      <% }); %>