
<%- include('../partials/header') %>
<br>
<br>

    <div><%= request.avatar %></div>    
    <div><%= request.userName %></div>
    <div><%= request.requestType %></div>
    <div>Date: <%= request.date.toLocaleDateString() %></div>
    <div>Estimated Time: <%= request.hoursEstimate %></div>
    <div><%= request.content %></div>
    <br>
    <br>
    <form id="new-comment" action='/requests/<%= request._id %>/comments' method="POST">
        <input type="text" name="content">
        <input type="submit" value="Add Comment">
    </form>
    <br>
    <% if (request.comments.length) { %>
        <table>
          <tbody>
              <% request.comments.forEach(function(r) { %>
                  <tr>
                    <td class="comment-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
                    <td>
                      <%= r.createdAt.toLocaleDateString() %>
                    </td>
                    <td>
                      <%= r.content %>
                    </td>
                    <td>
                      <% if (user && user._id.equals(r.user)) { %>
                        <form action="/comments/<%= r._id %>?_method=DELETE" method="POST">
                          <button type="submit">Delete</button>
                        </form>
                        <form action="/comments/<%= r._id %>?_method=PUT" method="POST">
                            <input type="text" name="content">
                            <button type="submit">Edit</button>
                        </form>
                      <% } %>
                    </td>
                  </tr>
                  <% }); %>
          </tbody>
        </table>
        <% } else { %>
          <h5>No Comments Yet</h5>
          <% } %>