
<%- include('../partials/header') %>
<main class="show-page">
    <br>
    <br>
    <section id="requestShow">
    <div><%= request.avatar %></div>    
    <div><strong><%= request.userName %></strong></div>
    <div><em><%= request.requestType %></em></div>
    <% if (request.date) { %> 
    <div>Date: <%= request.date.toLocaleDateString() %></div>
    <% } %> 
    <% if (request.hoursEstimate) { %>
    <div>Estimated Time: <%= request.hoursEstimate %></div>
    <% } %> 
    <div><%= request.content %></div>
    </section>
    <br>
    <% if (user && user._id.equals(request.user)) { %>
        <form action="/requests/<%= request._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Request</button>
        </form>
      <% } %>
    <br>
    <br>


    <form id="new-comment" action='/requests/<%= request._id %>/comments' method="POST">
        <input type="text" name="content">
        <input type="submit" value="Add Comment">
    </form>
    <br>
    <% if (request.comments.length) { %>
        <table>
          <tbody>
              <% request.comments.forEach(function(r) { %>
                  <tr>
                    <td class="comment-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %>
                      <%= r.createdAt.toLocaleDateString() %>
                      <%= r.content %>
                      <% if (user && user._id.equals(r.user)) { %>
                        <form action="/comments/<%= r._id %>?_method=DELETE" method="POST">
                          <button type="submit">Delete</button>
                        </form>
                        <form action="/comments/<%= r._id %>?_method=PUT" method="POST">
                            <input type="text" name="content">
                            <button type="submit">Edit</button>
                        </form>
                      <% } %>
                    </td>
                  </tr>
                  <% }); %>
          </tbody>
        </table>
        <% } else { %>
          <h5>No Comments Yet</h5>
          <% } %>
</main>