
<%- include('../partials/header') %>

<main class="show-page">
    <br>
    <br>
    <section id="requestShow">
    <div><img class="request-user-img" alt="avatar" src="<%= request.userAvatar %>" referrerpolicy="no-referrer" ></div> 
    <br>   
    <div><strong><%= request.userName %></strong></div>
    <br>
    <div><em><%= request.requestType %></em></div>
    <% if (request.date) { %> 
    <br>
    <div>Date: <%= request.date.toLocaleDateString() %></div>
    <div>Time: <%= request.date.toLocaleTimeString() %></div>
    <% } %> 
    <% if (request.hoursEstimate) { %>
    <div>Estimated Time: <%= request.hoursEstimate %></div>
    <% } %> 
    <br>
    <div><%= request.content %></div>
    <br>
    <% if (user && user._id.equals(request.user)) { %>
        <form action="/requests/<%= request._id %>?_method=DELETE" method="POST">
          <button id="deleteRequest-Btn" type="submit">Delete Request</button>
        </form>
      <% } %>
    </section>  
    <br>


    <form id="new-comment" action='/requests/<%= request._id %>/comments' method="POST">
        <textarea id="commentInput" type="text" name="content"></textarea>
        <input id="addCommentBtn" type="submit" value="Add Comment">
    </form>
    <br>
    <h2>Leave a comment!</h2>
    <% if (request.comments.length) { %>
        <table class="commentTable">
          <tbody>
              <% request.comments.forEach(function(r) { %>
                  <tr>
                    <td class="comment-user">
                      <div class="commentRow-1"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><strong><%= r.userName %></strong>
                        <%= r.createdAt.toLocaleDateString() %>
                        <%= r.createdAt.toLocaleTimeString() %> 
                      </div>
                      <div class="commentRow-2"><%= r.content %></div>
                      <div class="commentRow-3">
                      <% if (user && user._id.equals(r.user)) { %>
                        <form action="/comments/<%= r._id %>?_method=DELETE" method="POST">
                          <button class="deleteComment-Btns" type="submit">Delete</button>
                        </form>
                        <form action="/comments/<%= r._id %>?_method=PUT" method="POST">
                            <input type="text" name="content">
                            <button class="editComment-Btns"type="submit">Edit</button>
                        </form>
                     </div>
                      <% } %>
                    </td>
                  </tr>
                  <% }); %>
          </tbody>
        </table>
        <% } else { %>
          <h5>No Comments Yet</h5>
          <% } %>
</main>

<%- include('../partials/footer') %>